body {
    text-align: justify
    }
@media screen {
    body {
        margin-left: 20%;
        margin-right: 20%
        }
    }
.pagedjs_page_content > div {
    margin-left: 20%;
    margin-right: 20%
    }
div.chapter {
    page-break-before: always;
    margin-top: 4em
    }
p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em
    }
p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.bold {
    text-align: center;
    font-weight: bold
    }
p.bold2 {
    text-align: center;
    font-weight: bold;
    font-size: 150%
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    clear: both
    }
h1 span, h2 span {
    display: block;
    text-align: center
    }
#id1 {
    font-size: smaller
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 33.5%;
    margin-right: 33.5%;
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-collapse: collapse;
    border: none;
    text-align: right
    }
.center {
    text-align: center
    }
.smaller {
    font-size: smaller
    }
.smcap {
    font-variant: small-caps
    }
.mynote {
    background-color: #DDE;
    color: black;
    padding: 0.5em;
    margin-left: 20%;
    margin-right: 20%
    }
.box {
    max-width: 30em;
    margin: 1.5em auto
    }
.space-above {
    margin-top: 3em
    }
.right {
    text-align: right
    }
.left {
    text-align: left
    }
.s3 {
    display: inline;
    margin-left: 3em
    }
a:link {
    color: blue;
    text-decoration: none
    }
a:visited {
    color: blue;
    text-decoration: none
    }
a:hover {
    color: red
    }